.confirmation-modal {
    display: flex;
    flex-direction: column;
    width: 400px;
    background: white;
    border: 1px solid rgb(67, 67, 85);
    border-radius: 5px;
    padding: 20px;
}

.confirmation-modal__body {
    min-height: 40px;
}

.confirmation-modal__footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
}