.toolbox {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    height: 4rem;
    margin-bottom: 20px;
    border: 1px solid rgb(67, 67, 85);
    border-radius: 5px;
}

.toolbox__search {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
}

.toolbox__search-button {
    -moz-box-shadow: 0px 1px 0px 0px #f0f7fa;
    -webkit-box-shadow: 0px 1px 0px 0px #f0f7fa;
    box-shadow: 0px 1px 0px 0px #f0f7fa;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #33bdef), color-stop(1, #019ad2));
    background-color: #33bdef;
    border-radius: 6px;
    border: 1px solid #057fd0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    /* font-family: Arial; */
    font-size: 16px;
    font-weight: bold;
    padding: 6px 6px;
    text-decoration: none;
    text-shadow: 0px -1px 0px #5b6178;
}

.toolbox__search-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background-color: #019ad2;
}

.toolbox__search-button:active {
    position: relative;
    top: 1px;
}

.toolbox__search-button-box {
    padding: 20px;
}

.toolbox__add-course-button {}

.toolbox__input {
    font-size: 16px;
    border-width: 2px;
    padding: 5px;
    color: #000000;
    border-color: #2257c9;
    background-color: #fff7ff;
    box-shadow: 0px 0px 2px 0px rgba(42, 42, 42, .75);
    border-radius: 9px;
    border-style: solid;
}

.toolbox__input:focus {
    outline: none;
}