.course {
    flex-wrap: wrap;
    max-width: 950px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.course__form-element {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 60%;
}

.course__form-control {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.course__form-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 65%;
}

.course__form-control label {
    display: block;
    width: 125px;
    font-weight: bold;
    font-size: 1em;
    width: 25%;
}

.course__form-control .course__form-input {
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    box-sizing: border-box;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
}

.course__form-control .course__element {
    width: 100%;
}

.course__form-control .course__form-input-textarea {
    /* border: none; */
    resize: both;
}

.course__form-control-error {
    display: flex;
    font-size: 12px;
    color: red;
    /* align-self: */
}

label.required:after {
    content: " *";
    color: red;
}