<form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
    <div class="course">
        <div class="course__form-row">
            <label>Title</label>
            <input type="text" class="course__form-input" formControlName="title">
        </div>
        <div class="course__form-row">
            <label>Description</label>
            <textarea class="course__form-input course__form-input-textarea" rows="8" cols="50" formControlName="description"></textarea>
        </div>
        <div class="course__form-row">
            <label>Date</label>
            <input type="text" class="course__form-input" formControlName="date">
        </div>
        <div class="course__form-row">
            <label>Duration</label>
            <input type="text" class="course__form-input" formControlName="duration">
        </div>
        <div class="course__form-actions">
            <input type="button" class="button" (click)="onCancel()" value="Cancel">
            <input type="submit" class="button" value="Save" />
        </div>
        <p>Form status: {{ courseForm.value | json }}</p>
        <p>Form status: {{ courseForm.status | json }}</p>
        <p>Touched: {{ courseForm.touched | json }}</p>
        <p>Dirty: {{ courseForm.dirty | json }}</p>
    </div>
</form>