.toolbox {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    margin-bottom: 20px;
    border: 2px solid rgb(67, 67, 85);
    border-radius: 1px;
    flex-wrap: wrap;
}

.toolbox__search {
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
}

.toolbox__search-button-box {
    width: 75%;
}

.toolbox__add-course-button {
    padding: 20px;
}

.toolbox__input {
    font-size: 16px;
    border-width: 2px;
    padding: 5px;
    color: #000000;
    border-color: #2257c9;
    background-color: #fff7ff;
    box-shadow: 0px 0px 2px 0px rgba(42, 42, 42, .75);
    border-radius: 4px;
    border-style: solid;
    width: 100%;
}

.toolbox__input:focus {
    outline: none;
}