.course {
    /* align-items: center; */
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    /* height: 5rem; */
    margin-bottom: 20px;
    margin-top: 20px;
    border: 1px solid rgb(67, 67, 85);
    border-radius: 5px;
    flex-wrap: wrap;
}

.course__info {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.course__info-panel {
    padding: 20px;
    /* margin: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.course__actions {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.course__description {
    padding: 20px;
    color: #A5A6A6;
    font-family: cursive;
}