/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f2f4f5;
    font: 1.1rem Roboto, sans-serif;
}

.button {
    background-color: #019ad2;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #019ad2), color-stop(1, #33bdef));
    background-color: #019ad2;
}


@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.cdk-overlay-backdrop.cdk-overlay-backdrop-showing.dark-backdrop {
    background: #000;
    opacity: 0.85 !important;
}