<div class="course" appColoredborder [courseCreatedDate]="course.creationDate" [class.course__top-rated]="course.topRated">
    <div class="course__info-panel">
        <div class="course__info">
            <span> {{course.title | uppercase}}</span>
            <span>{{course.duration | duration}}</span>
            <img [hidden]="!course.topRated" src="assets/star.png" alt="Star" />
            <span>{{course.creationDate |date:'mediumDate'}}</span>
        </div>
        <div class="course__description">
            {{course.description}}
        </div>
    </div>
    <div class="course__actions">
        <input type="button" value="Edit Course" class="button" [routerLink]="['/courses',course.id]">
        <input type="button" value="Delete" (click)="deleteCourse(course)" class="button">
    </div>
</div>