<div *ngIf="courses && courses.length > 0 else nodata" style="overflow: hidden">
    <ul id="infinite-scroller" appInfiniteScroller scrollPerecnt="70" [immediateCallback]="false" [scrollCallback]="scrollCallback">
        <li *ngFor="let course of courses" >
            <app-course-detail (onDelete)="onDelete($event)" [course]="course"></app-course-detail>
        </li>
    </ul>
</div>
<ng-template #nodata>
    <div class="courses__nodata">
        No data.Feel free to add new course
    </div>
</ng-template>