.page__header {
    background: #535455;
    margin-bottom: 20px;
    max-width: 950px;
    margin: 0 auto;
}

.header {
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    color: #FFFFFF;
}

.header__logo {
    margin: 10px;
    padding: 5px;
}

.header__userpanel {
    margin: 10px;
    padding: 5px;
}

.header__userpanel_logoff-link {
    color: blue;
    cursor: pointer;
}