<header class="page__header">
    <div class="header">
        <div class="header__logo">
            <img src="assets/newlogo.png" alt="Logo" routerLink="/courses" />
        </div>
        <app-breadcrump></app-breadcrump>
        <div class="header__userpanel">
            <div *ngIf="isAuthenticated()">{{ userName}}</div>
            <a *ngIf="!isAuthenticated()" class="header__userpanel_logoff-link" routerLink="/login">Login</a>
            <a *ngIf="isAuthenticated()" class="header__userpanel_logoff-link" (click)="signOut()">
        LogOff
      </a>
        </div>
    </div>
</header>