Pager
<!-- <div class="grid__pager">
  <div class="pager__nav">
      <button class="button button_icon pager__button" data-bind="{click:firstPage, enable:isFirstOrLastAvailable}">
          <span class="icon-chevron-double-left"></span>
      </button>
      <button class="button button_icon pager__button" data-bind="{click:previousPage, enable:isPreviousAvailable}">
          <span class="icon-chevron-left"></span>
      </button>

      <div class="pager__page">
          <span>Page</span>
          <input type="text" class="pager__current" data-bind="textInput: currentPageInput, enterKey:currentPageInputChanged, css: {'pager__current__error' : pageInputIsInError}"/>
          <span>of</span>
          <span class="pager__total" data-bind="text: totalPages"></span>
      </div>

      <button class="button button_icon pager__button" data-bind="{click:nextPage, enable:isNextAvailable}">
          <span class="icon-chevron-right"></span>
      </button>
      <button class="button button_icon pager__button" data-bind="{click:lastPage, enable:isFirstOrLastAvailable}">
          <span class="icon-chevron-double-right"></span>
      </button>
  </div>

  <div class="pager__info">
      <div class="pager__view">
          <span>View:</span>
          <dropdown params="{
                    items: recordsPerPageVariants,
                    selectedItem: recordsPerPage,
                    headerCssClass: 'pager__size',
                    dropdownPosition: pageSizeDropPosition,
                    }">
          </dropdown> 
       </div>
      <div class="pager__counter">
          <span data-bind="text: rowDisplayProperty"></span>
      </div>
  </div>
</div> -->