.login {
    display: flex;
    min-height: 200px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 250px;
}

.login__form-input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login__form-input::placeholder {
    color: #A5A6A6;
    font-family: cursive;
}

.login__form-submit {
    width: 100%;
    background-color: #019ad2;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.login__error{
    color: red;
    border-radius: 4px;
    border: red;
}